<div class="recentInfoBox">
    <div class="myInfoBox">
        <h3>최근 나의 정보</h3>
        <table>
            <thead>
                <tr>
                    <th>일시</th>
                    <th>점수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2021-04-08</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2021-04-08</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2021-04-08</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2021-04-08</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>2021-04-08</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span>7</span>
                                        <span>3</span>
                                        <span>3</span>
                                        <div>10</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="teamInfoBox">
        <h3>우리팀 현황</h3>
        <h4>최근 4주간 평균 점수 순위</h4>
        <table>
            <thead>
                <th>순번</th>
                <th>이름</th>
                <th>평균점수</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>홍길동</td>
                    <td>249</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>홍길동</td>
                    <td>249</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>홍길동</td>
                    <td>249</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>홍길동</td>
                    <td>249</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>홍길동</td>
                    <td>249</td>
                </tr>
            </tbody>
        </table>

        <h4><span>04</span>월 평균 점수 상승 순위</h4>
        <table>
            <thead>
                <th>순번</th>
                <th>이름</th>
                <th><span>2021 03월 이전</span>평균점수</th>
                <th><span>2021 04월</span>평균점수</th>
                <th>평균점수 변동</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>홍길동</td>
                    <td>222</td>
                    <td>239</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>홍길동</td>
                    <td>222</td>
                    <td>239</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>홍길동</td>
                    <td>222</td>
                    <td>239</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>홍길동</td>
                    <td>222</td>
                    <td>239</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>홍길동</td>
                    <td>222</td>
                    <td>239</td>
                    <td>17</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>